<div class="flex-container">
    <div class = "caixa-topo">
        <span>BEM-VINDO AO RODAS QUENTES!</span><br>
        <!-- <span>Somos um site onde você pode fazer a mais rápida consulta à tabela Fipe!</span><br> -->
        <span> Escolha qual categoria deseja consultar:</span>
    </div>
    <div routerLink="/carros" class="corpo-carros">
        CARROS
    </div>
    <div routerLink="/motos" class="corpo-motos">
        MOTOS
    </div>
    <div routerLink="/caminhoes" class="corpo-caminhoes">
        CAMINHÕES & MICRO-ÔNIBUS
    </div>
</div>