<div class="flex-container">
  <div class="caixa">
    <span>Somos um site onde você pode fazer a MAIS RÁPIDA consulta à tabela Fipe!</span><br>
  </div>
  <div class="caixa-meio">
    <span>Rodas Quentes é um site que foi criado com o intuito de agilizar as consultas à Tabela Fipe. Conforme testes,
      Rodas Quentes supera em pelo menos o dobro de Velocidade e Usabilidade as consultas realizadas no site da FIPE.
      Aqui você encontrará um site totalmente intuitivo, ao invés de perder tempo digitando o que deseja consultar,
      você apenas pesquisa e com alguns cliques terá as informações que deseja.</span><br>
  </div>
  <div class="caixa">
    <span>Para mais informações ou sugestões:</span><br>
    <span>ALEXANDRE HAMPEL: alexandre.hampel@acad.pucrs.br</span><br>
    <span>BERNARD PETZOLD: bee.petzold@gmail.com</span><br>
  </div>
</div>
  <app-footer></app-footer>