.logo{
    width: 15%;
    margin-right: 2%;
    font-size: 25px;
}

a{
    color: rgb(46, 46, 46);
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.menu{
    width: 75%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

li{
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 25px; 
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    transition: 800ms
}

li:hover{
    background-color: rgb(209, 209, 209);
}