<nav class="navbar navbar-light bg-light">
  <div class="logo">
    <a id="logo" routerLink="">RODAS QUENTES</a>
  </div>
        <div class="dropdown">
            <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png">
          <div class="dropdown-content">
            <a routerLink="/carros" class="a1">CARROS</a>
            <a routerLink="/motos" class="a2">MOTOS</a>
            <a routerLink="/caminhoes" class="a3">CAMINHÕES & MICRO-ÔNIBUS</a>
            <a routerLink="/sobre" class="a4">SOBRE</a>
          </div>
        </div>
</nav>