<nav class="navbar navbar-light bg-light">
  <div class="logo">
    <a id="logo" routerLink="">RODAS QUENTES</a>
  </div>
  
        <div class="dropdown">
            <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png">
          <div class="dropdown-content">
            <a routerLink="/carros">CARROS</a>
            <a routerLink="/motos">MOTOS</a>
            <a routerLink="/caminhoes">CAMINHÕES & MICRO-ÔNIBUS</a>
          </div>
        </div>
      
 
 

</nav>