<nav class="navbar navbar-light bg-light">
  <div id="navbarSupportedContent">
    <ul class="navbar-nav">
      <div class="li1">
      <li class="nav-item active">
        <a class="nav-link text-nowrap">RODAS QUENTES</a>
      </li>
    </div>
      <div class="li2">
      <li class="nav-link text-nowrap">
        <a class="nav-link text-nowrap" routerLink="">CARROS</a>
      </li>
      <li class="nav-link text-nowrap">
        <a class="nav-link text-nowrap" routerLink="/motos">MOTOS</a>
      </li>
    </div>
    </ul>
  </div>
</nav>