<div [class]="print.det">
  <div class="fechar" mat-dialog-actions>
    <button mat-button (click)="closeDialog()" class="btn btn-outline-light">X</button>
  </div>
</div>

<h1 mat-dialog-title>INFORMAÇÕES</h1>
<p *ngIf="loading">
  <ngb-progressbar type="dark" [value]="100" [striped]="true" [animated]="true">Carregando...</ngb-progressbar>
</p>
<div class="flex-container" id="popup" *ngIf="!loading">
  <div><span>MARCA: </span><br>{{detalhe.marca}} </div>
  <div *ngIf="detalhe.veiculo"><span>MODELO: </span><br>{{detalhe.veiculo}} </div>
  <div *ngIf="detalhe.veiculo==null"><span>MODELO: </span><br>{{detalhe.name}} </div>
  <div><span>PREÇO: </span><br>{{detalhe.preco}} </div>
  <div *ngIf="detalhe.ano_modelo!=32000"><span>ANO: </span><br>{{detalhe.ano_modelo}} </div>
  <div *ngIf="detalhe.ano_modelo==32000"><span>ANO: </span><br> Zero KM </div>
  <div><span>COMBUSTÍVEL: </span><br>{{detalhe.combustivel}} </div>
</div>

<br>
<div [class]="print.imagem">
  <app-data></app-data>
</div>

<div [class]="print.imagem">
  <img src="../../assets/img/logo.png">
</div>

<div [class]="print.det">
  <div class="print" *ngIf="!loading">
    <button class="btn btn-outline-light" id="printButton" (click)="change()">IMPRIMIR INFORMAÇÕES</button>
  </div>
</div>