.flex-container {
      display: flex;
      flex-wrap: wrap;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
  .flex-container > div{
    background-color: rgba(30, 143, 255, 0.7);
    color: white;
    width: 390px;
    margin: 2%;
    text-align: center;
    line-height: 75px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
  }

  .flex-container button{
      background-color: rgba(255, 99, 99, 1);
      color: white;
      font-weight: bold;
      width: 30%;
      font-size: 18px;
      border: none;
      float: left;
      cursor: pointer;
      transition: 0.5s;
  }

  .flex-container button:hover{
    background-color: rgb(255, 36, 36);
}

#pesquisar{
  margin-left: 2%;  
  margin-top: 2%; 
  width: 390px;
}

  #comprar{
    margin-top: 2%; 
  }

  .flex-container > div:hover {
    background-color: rgba(0, 71, 224, 0.7);
  }

  .nav-item .nav-link disabled a{
    color: white;
}