/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-dialog-container{
  background-color: #551A8B;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#popup{
  text-align: center;
  margin: 10px;
}

#cursor{
   cursor: pointer;
}

body {
  background-image: url("https://papers.co/wallpaper/papers.co-mh75-aspalt-hd-skid-marks-nature-pattern-36-3840x2400-4k-wallpaper.jpg");
  background-attachment: fixed;
  background-size: cover!important;
}

.print{
  text-align: center;
}

#printButton{
  padding-left: 30%;
  padding-right: 30%;
}

.det{
  display: block;
}

.invisivel {
 display : none;
 background-size: none!important;
}

.imagem {
  display : none;
}

@page :left {
  margin-left: 20cm;
  margin-right: 20cm;
}

@page :right {
  margin-left: 20cm;
  margin-right: 20cm;
}