h1{
    color: white;
    text-align: center;
}

div{
    background-color: #551A8B;
    color: white;
}

.fechar{
    margin-left: 90%
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-container > div {
    width: 200px;
    margin: 10px;
    text-align: left;
    font-size: 16x;
}