<div class="fechar" mat-dialog-actions>
    <button mat-button (click)="closeDialog()" class="btn btn-outline-light">X</button>
  </div>
  <h1 mat-dialog-title>INFORMAÇÕES</h1>
<div class="flex-container" id="popup">

    <div><span>MARCA: </span><br>{{detalhe.marca}} </div>
     <div *ngIf="detalhe.veiculo"><span>MODELO: </span><br>{{detalhe.veiculo}} </div>
     <div *ngIf="detalhe.veiculo==null"><span>MODELO: </span><br>{{detalhe.name}} </div>
     <div><span>PREÇO: </span><br>{{detalhe.preco}} </div>
     <div *ngIf="detalhe.ano_modelo!=32000"><span>ANO: </span><br>{{detalhe.ano_modelo}} </div>
     <div *ngIf="detalhe.ano_modelo==32000"><span>ANO: </span><br> Zero KM </div>
     <div><span>COMBUSTÍVEL: </span><br>{{detalhe.combustivel}} </div>
   
    </div>
